{% extends 'main.html' %}



{% block title %}
Главная
{% endblock %}

{% block body %}

<div class="container my-5">
    <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
      <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
        <h1 class="display-4 fw-bold lh-1">Сайт в разработке</h1>
        <p class="lead">Сейчас есть доступ к просмотру: Профилей, Клиентов, IBM SALE.</p>
        <div class="col-lg-10 offset-lg-100 p-0 overflow-hidden ">
            <img class="rounded-lg-0" src="https://sirant-auto.com/UserFiles/Image/Trial/110065667_w640_h640_ua.png" alt="256" width="256">
        </div>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3">
          <button type="button" class="btn btn-primary btn-lg px-4 me-md-2 fw-bold">Круто</button>
          <button type="button" class="btn btn-outline-secondary btn-lg px-4">Говно</button>
        </div>
          <img src="https://media.discordapp.net/attachments/927968206147162152/936551256074383410/unknown.png">
      </div>
    </div>
  </div>
{% endblock %}